.project
output
_output
apiserver.local.config
.api_violation.report
generate_exes
generate_files
.idea
.ko.yaml
agent
!agent/
controller
!controller/
proxyserver
!proxyserver/
webhook
!webhook/
registration-operator
e2e.test
.DS_Store

multicloud-operators-foundation/

# editor and IDE paraphernalia
.vscode
