.project
output
_output
apiserver.local.config
.api_violation.report
generate_exes
generate_files
.idea
.ko.yaml
agent
controller
proxyserver
webhook
registration-operator
e2e.test

# editor and IDE paraphernalia
.vscode