
---
apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.2.5
  creationTimestamp: null
  name: spokeviews.view.open-cluster-management.io
spec:
  group: view.open-cluster-management.io
  names:
    kind: SpokeView
    listKind: SpokeViewList
    plural: spokeviews
    singular: spokeview
  scope: Namespaced
  subresources:
    status: {}
  validation:
    openAPIV3Schema:
      description: SpokeView is the view of resources on a cluster
      properties:
        apiVersion:
          description: 'APIVersion defines the versioned schema of this representation
            of an object. Servers should convert recognized schemas to the latest
            internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
          type: string
        kind:
          description: 'Kind is a string value representing the REST resource this
            object represents. Servers may infer this from the endpoint the client
            submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
          type: string
        metadata:
          description: 'Standard object''s metadata. More info: https://git.k8s.io/community/contributors/devel/api-conventions.md#metadata'
          type: object
        spec:
          description: Spec defines the desired configuration of a spokeview
          properties:
            scope:
              description: Scope is the scope of the view on a cluster
              properties:
                apiGroup:
                  description: Group is the api group of the resources
                  type: string
                kind:
                  description: Kind is the kind of the subject
                  type: string
                name:
                  description: Name is the name of the subject
                  type: string
                namespace:
                  description: Name is the name of the subject
                  type: string
                resource:
                  description: Resource is the resource type of the subject
                  type: string
                updateIntervalSeconds:
                  description: UpdateIntervalSeconds is the interval to update view
                  format: int32
                  type: integer
                version:
                  description: Version is the version of the subject
                  type: string
              type: object
          type: object
        status:
          description: Status describes current status of a spokeview
          properties:
            conditions:
              description: Conditions represents the conditions of this resource on
                spoke cluster
              items:
                description: Condition represents the state of the operator's reconciliation
                  functionality.
                properties:
                  lastTransitionTime:
                    format: date-time
                    type: string
                  message:
                    type: string
                  reason:
                    type: string
                  status:
                    type: string
                  type:
                    description: ConditionType is the state of the operator's reconciliation
                      functionality.
                    type: string
                required:
                - status
                - type
                type: object
              type: array
            result:
              description: WorkResult references the related result of the work
              nullable: true
              type: object
          type: object
      type: object
  version: v1beta1
  versions:
  - name: v1beta1
    served: true
    storage: true
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
